<!DOCTYPE html>
{% load static %}{% load compress %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/custom.scss' %}">
    {% endcompress %}
    <script src="{% static 'js/htmx.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ request.user.username }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
            <span class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  Notifications <span class="badge bg-secondary" id="noti-counter">{{ noti_count }}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="notification-dropdown">
                    {% include 'noties/noti/noti.html' %}
                </div>
            </span>
        </div>
    </div>
</nav>
<section class="container">
    {% block content %}

    {% endblock content %}
</section>
<script type="module" src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/reconectingWebsocket.js' %}"></script>
<script>
    const roomName = {{ request.user.id }};

    const NotificationSocket = new ReconnectingWebSocket(
    {#const NotificationSocket = new WebSocket(#}
        'ws://'
        + window.location.host
        + '/ws/notification/for/user/'
        + roomName
        + '/'
    );

    NotificationSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        //document.querySelector('#chat-log').value += (data.message + '\n');
        console.log(data);
        document.getElementById("notification-dropdown").innerHTML = "<li class='dropdown-item'>" + data.message + "</li><hr class='dropdown-divider'>" + document.getElementById("notification-dropdown").innerHTML;
        document.getElementById("noti-counter").innerHTML = parseInt(document.getElementById("noti-counter").innerHTML) + 1;
        var like = document.getElementById("like_count"+data.post_id);
        var like_count = parseInt((like.innerText))
        like.innerHTML = like_count+1

        {#console.log(like_count+1)#}
    };

    NotificationSocket.onopen = function (e) {
        console.log('Notification socket is open now');
    };

    NotificationSocket.onclose = function (e) {
        console.error('Notification socket closed unexpectedly');
    };

</script>
</body>
</html>